.button {
  padding: 10px 32px;
  border-color: transparent;
  color: var(--hero-title-color);

  &__primary {
    border: none;
    padding: 10px 32px;

    color: var(--hero-title-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    font-family: inherit;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &_primary:hover,
  &_primary:focus {
    background-color: var(--button-accent-color);
  }
}
