.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-background-color);

  &__container {
    @extend %container;
    text-align: center;

    @media screen and(min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;
    }

    @media screen and (min-width: $desktop) {
      justify-content: space-between;
      text-align: start;
    }
  }
}
