/* Герой */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--hero-background-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  max-width: 1600px;

  background-color: var(--hero-background-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bcg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 690px;

    color: var(--hero-title-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
