.logo {
  font-family: Raleway;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-right: 93px;

  &--footer {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--hero-title-color);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
  }

  &--part {
    color: var(--accent-color);
  }
}
