.team {
  @extend %section;
  background-color: var(--section--three-color);

  &__title {
    @extend %section-title;
    color: var(--title-text-color);
  }

  &__list {
    @extend %container;
    @extend %list;

    @media screen and (min-width:$tablet) {
      flex-wrap: wrap;
      gap: 30px;
    }

    @media screen and (min-width: $desktop) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    background: var(--hero-title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width:$tablet) {
      width: 354px;
      margin-bottom: 0;
    }

    @media screen and (min-width:$desktop) {
      width: 270px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;

    @media screen and (min-width:$tablet) {
      height: 374px;
    }

    @media screen and (min-width: $desktop) {
      height: 260px;
    }
  }

  &__name {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }

  &__position {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}