/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
    list-style: none;

    padding-left: 0;
    margin: 0;
}


/* Свойства для корректного отображения картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Свойства для обнуления курсива у address */
address {
    font-style: normal;
}


a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
